# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

npm-shrinkwrap.json
npm-cache/

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Prisma
src/generated

.env

# Turborepo cache
.turbo
.turbo-cache
turbo
.cache

# Lockfiles and dist
apps/**/package-lock.json
apps/**/yarn.lock
apps/**/pnpm-lock.yaml
apps/**/dist
apps/**/.turbo
apps/**/node_modules
apps/**/.env
packages/**/package-lock.json
packages/**/yarn.lock
packages/**/pnpm-lock.yaml
packages/**/dist
packages/**/.turbo
packages/**/node_modules
packages/**/.env