# Database Configuration
DATABASE_URL=postgresql://postgres:admin@localhost:5432/postgres

# Application Configuration
NODE_ENV=development
PORT=3001

# JWT Configuration
JWT_ACCESS_SECRET_KEY=your-super-secret-access-key-change-this-in-production

# Optional: Sentry Configuration (for error tracking in production)
SENTRY_DSN=

#RabbitMQ Configuration
RABBITMQ_URI=amqp://localhost:5672
