# Database Configuration
DATABASE_URL=postgresql://postgres:<username>@<host>:<port>/<database>

# Application Configuration
NODE_ENV=development
PORT=3000

# JWT Configuration
JWT_ACCESS_TOKEN_EXPIRE=15m
JWT_REFRESH_TOKEN_EXPIRE=7d
JWT_ACCESS_SECRET_KEY=your-super-secret-access-key-change-this-in-production
JWT_REFRESH_SECRET_KEY=your-super-secret-refresh-key-change-this-in-production

# Optional: Sentry Configuration (for error tracking in production)
SENTRY_DSN=

#RabbitMQ Configuration
RABBITMQ_URI=amqp://localhost:5672